<!-- about -->
<section class="about">
	
    <!-- container -->
    <div class="container">
    	
    	<div id="about" class="title-wrap">
            <h2 class="section__title">О компании</h2>
        </div>

        <!-- about-content -->
        <div class="about-content">

        	<h3 class="about-content__title">Заказ и доставка роллов, пиццы и WOK(Вок) в городе Курск</h3>

                <!-- about-content__inner-wrap -->
        	    <div class="about-content__inner-wrap clearfix">
                
                <!-- about-content__img -->
                <div class="about-content__img">
                
                    <!-- picture -->
                    <picture>

                        <source srcset="img/desktop/about/about-img--desktop@1x.webp 1x,
                        img/desktop/about/about-img--desktop@2x.webp 2x"
                        media="(min-width: 765px)"
                        type="image/webp">

                        <source srcset="img/desktop/about/about-img--desktop@1x.jpg 1x,
                        img/desktop/about/about-img--desktop@2x.jpg 2x"
                        media="(min-width: 765px)">

                        <source srcset="img/tablet/about/about-img--tablet@1x.webp 1x,
                        img/tablet/about/about-img--tablet@1x.webp 2x"
                        media="(min-width: 321px)"
                        type="image/webp">

                        <img src="img/tablet/about/about-img--tablet@1x.jpg" width="277" height="478" alt="Суши"
                        srcset="img/tablet/about/about-img--tablet@1x.jpg">

                    </picture>
                    <!-- /picture -->

                </div>
                <!-- /about-content__img -->

                <!-- about-content__text -->
               <!--  <div class="about-content-text"> -->
                      
                    <p class="about-content-text__block">Суши МИЮШИ открылись в октябре 2012<span class="space"> </span>г. и уже завоевали успех у тех, кто ценит японскую кухню и качественное приготовление блюд.</p>

                    <p class="about-content-text__block">С 2013 года мы осуществляем не только доставку на дом, теперь для вас открыт наш уютный небольшой зал. Придя сюда, вы сможете плотно пообедать, насладиться прекрасными напитками, посидеть с друзьями или обзавестись новыми знакомствами.</p>

                    <p class="about-content-text__block">Открывая зал, Мы преследовали цель предоставить своим посетителям максимум удобства и комфорта, поэтому, придя сюда в первый раз, вы почувствуете себя как рыба в воде, окунувшись в домашнюю и теплую обстановку!</p>

                    <p class="about-content-text__block about-content-text__block--hidden-sm">Особое внимание мы уделяем организации доставки суши и других блюд, которая осуществляется только по г. Курске. Четкая и слаженная работа курьеров позволяет максимально сократить время от приготовления блюда до его попадания на стол заказчику. Как правило, оно составляет от 20 до 60 минут в зависимости от местонахождения клиента. Операторы службы доставки всегда осведомлены обо всех изменениях времени доставки и предупреждают клиентов заранее, а при возможных серьезных задержках в связи с дорожной ситуацией предложат Вам альтернативу. Мы беремся только за ту работу, которую можем выполнить в срок.</p>

                    <p class="about-content-text__block about-content-text__block--hidden-sm about-content-text__block--bottom">В меню суши МИЮШИ представлено все многообразие японской кухни. Классические суши, и роллы приготовлены в соответствии с традиционными рецептами. Для любителей нежных и тающих во рту блюд предлагаются роллы с мясом краба, а также для больших любителей копченого угря потрясающий ролл Дракон. Для желающих пробовать что-то новое и необычное – острые ГУНКАНЫ и новинка нашего меню - ИНАРИ, широкий выбор горячих роллов. Большим компаниям будет удобно заказать суши и роллы, объединенные в сеты, включающие сразу несколько видов каждого из этих блюд. Кроме того, меню суши МИЮШИ не ограничено только японской кухней, здесь всегда можно заказать горячие и холодные блюда ЛАПША или РИС WOK с различными мясными и рыбными наполнителями, салаты, горячие закуски и различные напитки.</p>

              <!--   </div> -->
                <!-- /about-content__text -->

            </div>
            <!-- /about-content__inner-wrap -->

        </div>
        <!-- /about-content -->

        <button class="about-content__btn">Показать ещё</button>

    </div>
    <!-- /container -->

</section>
<!-- /about