<!-- container -->
<div class="container">
	
    <!-- advantages -->
	<section class="advantages">
		
		<div class="title-wrap">
             <h2 class="section__title">10 причин купить у нас</h2>
        </div>	

            <!-- advantages-list -->
            <ul class="advantages-list">
            	
                <li class="advantages__item">
                    <p class="advantages__icon kitchen-icon"></p>
                    <p class="advantages__text">100% ручная работа</p>
                </li>

                <li class="advantages__item advantages__item--hidden-sm">	
                    <p class="advantages__icon dish-icon"></p>
                    <p class="advantages__text">100% свежие ингредиенты</p>
                </li>

                <li class="advantages__item advantages__item--hidden-sm">
                	<p class="advantages__icon money-icon"></p>
                    <p class="advantages__text">Самые низкие цены на рынке! (Нет ресторанной наценки)</p>
                </li>

                <li class="advantages__item">
                    <p class="advantages__icon rice-icon"></p>
                    <p class="advantages__text">Мы используем только дорогой рис из Японии</p>
                </li>

                <li class="advantages__item advantages__item--hidden-sm">   
                    <p class="advantages__icon ostopus-icon"></p>
                    <p class="advantages__text">Больше начинки, меньше риса!</p>
                </li>

                <li class="advantages__item advantages__item--hidden-sm">
                    <p class="advantages__icon knife-icon"></p>
                    <p class="advantages__text">Мы не заменяем авокадо огурцом!</p>
                </li>

                <li class="advantages__item">
                    <p class="advantages__icon pizza-icon"></p>
                    <p class="advantages__text">Вся пицца готовится из итальянской муки и Итальянского соуса</p>
                </li>

                <li class="advantages__item advantages__item--hidden-sm">
                	<p class="advantages__icon like-icon"></p>
                    <p class="advantages__text">Постоянный контроль качества на всех этапах</p>
                </li>

                <li class="advantages__item advantages__item--hidden-sm">
                	<p class="advantages__icon fish-icon"></p>
                    <p class="advantages__text">Только охлажденная рыба (никакой заморозки)</p>
                </li>

                <li class="advantages__item advantages__item--hidden-sm">
                	<p class="advantages__icon feather-icon"></p>
                    <p class="advantages__text">Мы не используем майонез!</p>
                </li>

            </ul>
            <!-- /advantages-list -->

            <button class="advantages-list__btn">Показать все</button>

	</section>
    <!-- /advantages -->

</div>
<!-- /container