<!-- form -->
<section class="form">
	
    <!-- container -->
    <div class="container clearfix">
    	
    	<!-- form-wrap -->
        <div id="form" class="form-wrap">
            
            <div class="form__title">
                <p>Оставьте&nbsp;</p>
    	        <p>свои контакты</p>
            </div>
    	    <!-- contact-form -->
            <form id="contact-form" class="contact-form">

                <!-- form-content-->
            	<div class="form-content">
        	
        	        <div class="input-wrap">

            	        <input class="user-name" type="text" name="name">
            	        <input class="user-email" type="email" name="email">
                        <input type="submit" class="btn contact-form__submit" name="contact-form__submit" value="Отправить">

                    </div>

                        <p class="warning">Нажимая на кнопку «Отправить», вы даете согласие на обработку своих персональных данных.</p>

                       <!--  <input type="submit" class="btn contact-form__submit" name="contact-form__submit" value="Отправить"> -->

                </div>
                <!-- /form-content-->

            </form>
            <!-- /contact-form -->

        </div>
        <!-- /form-wrap -->

    </div>
    <!-- /container -->

</section>
<!-- /form -->




