<!-- header -->
<header class="header">

	<!-- header-top-wrap -->
	<div class="header-top-wrap">
		
		<!-- container -->
		<div class="container">
			
			<!-- header-top -->
			<div class="header-top">

				<button id="menu__button" class="cmn-toggle-switch cmn-toggle-switch__htx">
					<span>toggle menu</span>
				</button>
				<div class="logo--mobile"></div>

				<!-- contacts -->
				<div class="contacts">
						
					<p class="adress">г. Курск, ул. Ленина, д. 3</p>
					<p class="email"><a href="mailto:78003332222@yandex.ru" class="email__link">78003332222@yandex.ru</a></p>

					<div class="phone-time">

						<p class="phone"><a href="tel:+7(800)3332222" class="phone__link">+7 (800) 333 2 222</a></p>
						<p class="time">Работаем с 11.00 до 23.00</p>

					</div>

				</div>
				<!-- /contacts -->

				<button class="header-btn">Обратный звонок</button>

				<div class="nav-icons--mobile">
					<a href="#" class="user-icon"></a>
					<a href="#" class="cart-icon"></a>
				</div>
				
			</div>
			<!-- /header-top -->

		</div>
		<!-- /container -->

	</div>
	<!-- /header-top-wrap -->
		
	<!-- container -->
	<div class="container">	
		
		<!-- nav -->
		<nav class="nav">
				
			<!-- nav-list -->
			<ul class="nav-list">

				<li class="nav-list__item"><span class="nav-list__link" id="dropDownMenuToggle">Меню</span>

					<!-- dropdown-menu -->
					<ul class="dropdown-menu">
						<li class="dropdown-menu__item"><a href="#sets" class="dropdown-menu__link">Сеты</a></li>
						<li class="dropdown-menu__item"><a href="#rolls" class="dropdown-menu__link">Роллы</a></li>
						<li class="dropdown-menu__item"><a href="#pizza" class="dropdown-menu__link">Пицца</a></li>
						<li class="dropdown-menu__item"><a href="#wok" class="dropdown-menu__link">WOK</a></li>
					</ul>
					<!-- /dropdown-menu -->

				</li>

				<li class="nav-list__item">
					<a href="#novelty" class="nav-list__link">Акции и скидки</a>
				</li>
				<li class="nav-list__item">
					<a href="#about" class="nav-list__link">Доставка и оплата</a>
				</li>
				<li class="nav-list__item">
					<a href="#reviews" class="nav-list__link">Новости</a>
				</li>
				<li class="nav-list__item">
					<a href="#form" class="nav-list__link">Контакты</a>
				</li>
				<li class="nav-list__item">
					<a href="#" class="nav-list__link">Кабинет</a>
				</li>
				<li class="nav-list__item">
					<a href="#" class="nav-list__link">Корзина</a>
				</li>
			</ul>
			<!-- /nav-list -->

		</nav>
		<!-- /nav -->

	</div>
	<!-- /container -->
	
</header>
<!-- /header -->

