<!-- container container--cards -->
<div class="container container--cards">
	
	<!-- pizza -->
	<section class="pizza">
		
        <div id="pizza" class="title-wrap">
            <h2 class="section__title section__title--pizza">Пицца</h2>
        </div>
        
        <!-- carousel -->
        <div class="carousel">
            
            <!-- product-cards -->
            <div class="product-cards">
                
                <!-- card-list -->
                <ul class="card-list">
                    
                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap picture-wrap--fire">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/vegetarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/vegetarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/vegetarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/vegetarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/vegetarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/vegetarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/vegetarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/vegetarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/vegetarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/vegetarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/vegetarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/vegetarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Вегетарианская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>755 г. |</span>
                            <span>1800 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">380<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/pepperoni-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/pepperoni-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/pepperoni-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/pepperoni-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/pepperoni-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/pepperoni-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/pepperoni-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/pepperoni-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/pepperoni-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/pepperoni-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/pepperoni-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/pepperoni-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Пепперони</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>615 г. |</span>
                            <span>1400 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">450<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/classic-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/classic-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/classic-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/classic-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/classic-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/classic-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/classic-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/classic-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/classic-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/classic-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/classic-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/classic-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Классическая</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>590 г. |</span>
                            <span>1490 Kkal</span>
                        </div>
                
                        <div class="card-item__info">
                            <p class="price">390<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--pizza">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.webp 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/pizza/bavarian-pizza--desktop@1x.jpg 1x,
                                img/desktop/pizza/bavarian-pizza--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.webp 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/pizza/bavarian-pizza--tablet@1x.jpg 1x,
                                img/tablet/pizza/bavarian-pizza--tablet@2x.jpg 2x"
                                media="(min-width: 321px)">

                                <source srcset="img/mobile/pizza/bavarian-pizza--mobile@1x.webp 1x,
                                img/mobile/pizza/bavarian-pizza--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/pizza/bavarian-pizza--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/pizza/bavarian-pizza--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">Баварская</h3>

                        <div class="card-item__param">
                            <span>33 см |</span>
                            <span>680 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item__info">
                            <p class="price">480<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                </ul>
                <!-- /card-list -->

                <!-- card-item__pagination -->
                <div class="card-item__pagination">

                    <div id="prev" class="prev"></div>

                    <!-- dots-list -->
                    <ul class="dots-list dots-list--pizza">
            
                        <li class="dots__item dots__item--pizza dots__item--active"></li>
                        <li class="dots__item dots__item--pizza"></li>
                        <li class="dots__item dots__item--pizza"></li>
                        <li class="dots__item dots__item--pizza"></li>
                        <li class="dots__item dots__item--pizza"></li>

                    </ul>
                    <!-- /dots-list -->

                    <div id="next" class="next"></div>

                </div>
                <!-- /card-item__pagination -->

            </div>
            <!-- /product-cards -->

        </div>
        <!-- /carousel -->

	</section>
	<!-- /pizza -->

</div>
<!-- container container--cards -->