<!-- container -->
<div class="container">
	
    <!-- reviews -->
	<section class="reviews">
		
        <div id="reviews" class="title-wrap">
            <h2 class="section__title">Отзывы</h2>
        </div>

        <!-- reviews-list -->
        <ul class="reviews-list">
        	
            <!-- reviews-list__item -->
            <li class="reviews-list__item">
            	
                <!-- reviews-list__item-top -->
                <div class="reviews-list__item-top">

                    <!-- avatar -->
                	<div class="avatar">

                        <!-- picture -->
                        <picture>

                            <source srcset="img/reviews/review-avatar@1x.webp 1x,
                            img/reviews/review-avatar@2x.webp 2x"
                            type="image/webp">

                            <img src="img/reviews/review-avatar@1x.jpg" width="65" height="65" alt="Суши"
                            srcset="img/reviews/review-avatar@2x.jpg 2x">

                        </picture>
                        <!-- /picture -->

                	</div>
                    <!-- / avatar -->

                	<div class="post-info">
                	    <p class="post-info__user-name">Надежда Наширбанова</p>
                	    <p class="post-info__date">5 авг 2017 в 9:58</p>
                	</div>

                </div>
                <!-- /reviews-list__item-top -->

                <p class="user-text">Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )</p>

                <!-- user-photo -->
                <div class="user-photo">

                    <!-- picture -->
                    <picture>

                        <source srcset="img/reviews/review-img@1x.webp 1x,
                        img/reviews/review-img@2x.webp 2x"
                        type="image/webp">

                        <img src="img/reviews/review-img@1x.jpg" alt="Суши"
                        srcset="img/reviews/review-img@2x.jpg 2x">

                    </picture>
                    <!-- /picture -->

                </div>
                <!-- /user-photo -->

                <ul class="icon-list">

                    <li class="icon-list__item heart"></li>
                    <li class="icon-list__item comment"></li>
                    <li class="icon-list__item repost"></li>

                </ul>

                <button class="reviews-list__item__btn">Подписаться</button>

            </li>
            <!-- /reviews-list__item -->

            <!-- reviews-list__item -->
            <li class="reviews-list__item">
                
                <!-- reviews-list__item-top -->
                <div class="reviews-list__item-top">

                    <!-- avatar -->
                    <div class="avatar">

                        <!-- picture -->
                        <picture>

                            <source srcset="img/reviews/review-avatar@1x.webp 1x,
                            img/reviews/review-avatar@2x.webp 2x"
                            type="image/webp">

                            <img src="img/reviews/review-avatar@1x.jpg" width="65" height="65" alt="Суши"
                            srcset="img/reviews/review-avatar@2x.jpg 2x">

                        </picture>
                        <!-- /picture -->

                    </div>
                    <!-- / avatar -->

                    <div class="post-info">
                        <p class="post-info__user-name">Надежда Наширбанова</p>
                        <p class="post-info__date">5 авг 2017 в 9:58</p>
                    </div>

                </div>
                <!-- /reviews-list__item-top -->

                <p class="user-text">Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )</p>

                <!-- user-photo -->
                <div class="user-photo">

                    <!-- picture -->
                    <picture>

                        <source srcset="img/reviews/review-img@1x.webp 1x,
                        img/reviews/review-img@2x.webp 2x"
                        type="image/webp">

                        <img src="img/reviews/review-img@1x.jpg" alt="Суши"
                        srcset="img/reviews/review-img@2x.jpg 2x">

                    </picture>
                    <!-- /picture -->

                </div>
                <!-- /user-photo -->

                <ul class="icon-list">

                    <li class="icon-list__item heart"></li>
                    <li class="icon-list__item comment"></li>
                    <li class="icon-list__item repost"></li>

                </ul>

                <button class="reviews-list__item__btn">Подписаться</button>

            </li>
            <!-- /reviews-list__item -->

            <!-- reviews-list__item -->
            <li class="reviews-list__item reviews-list__item--hidden-sm">
                
                <!-- reviews-list__item-top -->
                <div class="reviews-list__item-top">

                    <!-- avatar -->
                    <div class="avatar">

                        <!-- picture -->
                        <picture>

                            <source srcset="img/reviews/review-avatar@1x.webp 1x,
                            img/reviews/review-avatar@2x.webp 2x"
                            type="image/webp">

                            <img src="img/reviews/review-avatar@1x.jpg" width="65" 
                            height="65" alt="Суши"
                            srcset="img/reviews/review-avatar@2x.jpg 2x">

                        </picture>
                        <!-- /picture -->

                    </div>
                    <!-- / avatar -->

                    <div class="post-info">
                        <p class="post-info__user-name">Надежда Наширбанова</p>
                        <p class="post-info__date">5 авг 2017 в 9:58</p>
                    </div>

                </div>
                <!-- /reviews-list__item-top -->

                <p class="user-text">Спасибо за быструю доставку! Отличный поздний ужин после рабочего дня )</p>

                <!-- user-photo -->
                <div class="user-photo">

                    <!-- picture -->
                    <picture>

                        <source srcset="img/reviews/review-img@1x.webp 1x,
                        img/reviews/review-img@2x.webp 2x"
                        type="image/webp">

                        <img src="img/reviews/review-img@1x.jpg" alt="Суши"
                        srcset="img/reviews/review-img@2x.jpg 2x">

                    </picture>
                    <!-- /picture -->

                </div>
                <!-- /user-photo -->

                <ul class="icon-list">

                    <li class="icon-list__item heart"></li>
                    <li class="icon-list__item comment"></li>
                    <li class="icon-list__item repost"></li>

                </ul>

                <button class="reviews-list__item__btn">Подписаться</button>

            </li>
            <!-- /reviews-list__item -->

        </ul>
        <!-- /reviews-list -->

	</section>
    <!-- /reviews -->

</div>
<!-- /container -->