<!-- slider -->
<div class="slider">

	<!-- contianer -->
	<!-- <div class="contianer"> -->

	<!-- slide -->
	<div class="slide">

		<!-- picture -->
		<picture>
		
			<source srcset="img/desktop/slides/slide-1--desktop@1x.webp 1x,
			img/desktop/slides/slide-1--desktop@2x.webp 2x"
			media="(min-width: 1170px)"
			type="image/webp">

			<source srcset="img/desktop/slides/slide-1--desktop@1x.jpg 1x,
			img/desktop/slides/slide-1--desktop@2x.jpg 2x"
			media="(min-width: 1170px)">

			<source srcset="img/tablet/slides/slide-1--tablet@1x.webp 1x,
			img/tablet/slides/slide-1--tablet@2x.webp 2x"
			media="(min-width: 765px)"
			type="image/webp">

			<source srcset="img/tablet/slides/slide-1--tablet@1x.jpg 1x,
			img/tablet/slides/slide-1--tablet@2x.jpg 2x"
			media="(min-width: 765px)">

			<source srcset="img/mobile/slides/slide-1--mobile@1x.webp 1x,
			img/mobile/slides/slide-1--mobile@2x.webp 2x"
			type="image/webp">

			<img src="img/mobile/slides/slide-1--mobile@1x.jpg" alt="Сет суши"
			srcset="img/mobile/slides/slide-1--mobile@2x.jpg 2x">

		</picture>
		<!-- /picture -->

	</div>
	<!-- slide -->

	<!-- slide -->
	<div class="slide">

			<!-- picture -->
			<picture>
			
				<source srcset="img/desktop/slides/slide-2--desktop@1x.webp 1x,
				img/desktop/slides/slide-2--desktop@2x.webp 2x"
				media="(min-width: 1170px)"
				type="image/webp">
	
				<source srcset="img/desktop/slides/slide-2--desktop@1x.jpg 1x,
				img/desktop/slides/slide-2--desktop@2x.jpg 2x"
				media="(min-width: 1170px)">
	
				<source srcset="img/tablet/slides/slide-2--tablet@1x.webp 1x,
				img/tablet/slides/slide-2--tablet@2x.webp 2x"
				media="(min-width: 765px)"
				type="image/webp">
	
				<source srcset="img/tablet/slides/slide-2--tablet@1x.jpg 1x,
				img/tablet/slides/slide-2--tablet@2x.jpg 2x"
				media="(min-width: 765px)">
	
				<source srcset="img/mobile/slides/slide-2--mobile@1x.webp 1x,
				img/mobile/slides/slide-2--mobile@2x.webp 2x"
				type="image/webp">
	
				<img src="img/mobile/slides/slide-2--mobile@1x.jpg" alt="Сет суши"
				srcset="img/mobile/slides/slide-2--mobile@2x.jpg 2x">
	
			</picture>
			<!-- /picture -->
	
	</div>
		<!-- slide -->

		<!-- slide -->
	<div class="slide">

			<!-- picture -->
			<picture>
			
				<source srcset="img/desktop/slides/slide-3--desktop@1x.webp 1x,
				img/desktop/slides/slide-3--desktop@2x.webp 2x"
				media="(min-width: 1170px)"
				type="image/webp">
	
				<source srcset="img/desktop/slides/slide-3--desktop@1x.jpg 1x,
				img/desktop/slides/slide-3--desktop@2x.jpg 2x"
				media="(min-width: 1170px)">
	
				<source srcset="img/tablet/slides/slide-3--tablet@1x.webp 1x,
				img/tablet/slides/slide-3--tablet@2x.webp 2x"
				media="(min-width: 765px)"
				type="image/webp">
	
				<source srcset="img/tablet/slides/slide-3--tablet@1x.jpg 1x,
				img/tablet/slides/slide-3--tablet@2x.jpg 2x"
				media="(min-width: 765px)">
	
				<source srcset="img/mobile/slides/slide-3--mobile@1x.webp 1x,
				img/mobile/slides/slide-3--mobile@2x.webp 2x"
				type="image/webp">
	
				<img src="img/mobile/slides/slide-3--mobile@1x.jpg" alt="Сет суши"
				srcset="img/mobile/slides/slide-3--mobile@2x.jpg 2x">
	
			</picture>
			<!-- /picture -->
	
	</div>
	<!-- slide -->

	<!-- slider-content -->
	<div class="slide-content">
		<div class="slide-content__title">Счастливые<br> часы</div>
		<div class="slide-content__subtitle">с 11:00 до 16:00 в будние дни</div>
		<button class="btn slide-content__btn">Подробнее</button>
		<div class="slide-content__discount">скидка 15%</div>
	</div>
	<!-- /slide-content -->

	<!-- slider-arrows-list -->
	<ul class="slider-arrows">
		<li class="slider-arrows--left"></li>
		<li class="slider-arrows--right"></li>
	</ul>
	<!-- /slider-arrows-list -->
	
	<!-- slider-dots-wrap -->
	<div class="slider-dots-wrap">
		
		<ul class="slider-dots-list">
			
			<li class="slider-dots__item"></li>
			<li class="slider-dots__item"></li>
			<li class="slider-dots__item"></li>

		</ul>

	</div>
	<!-- /slider-dots-wrap -->
		
	<!-- </div> -->
	<!-- /contianer -->

</div>
<!-- /slider -->



