<!-- container container--cards -->
<div class="container container--cards">
	
	<!-- wok -->
	<section class="wok">
		
        <div id="wok" class="title-wrap">
            <h2 class="section__title section__title--wok">WOK</h2>
        </div>
        
        <!-- carousel -->
        <div class="carousel">
        	
            <!-- product-cards -->
            <div class="product-cards">

            	<!-- card-list -->
                <ul class="card-list">

                	<!-- card-item -->
                    <li class="card-item card-item--wok">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap picture-wrap--image-center">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/wok/beef-wok--desktop@1x.webp 1x,
                                img/desktop/wok/beef-wok--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/wok/beef-wok--desktop@1x.jpg 1x,
                                img/desktop/wok/beef-wok--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <!-- <source srcset="img/mobile/wok/beef-wok--mobile@1x.webp 1x,
                                img/mobile/wok/beef-wok--mobile@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/mobile/wok/beef-wok--mobile@1x.jpg 1x,
                                img/mobile/wok/beef-wok--mobile@2x.jpg 2x"
                                media="(min-width: 321px)"> -->

                                <source srcset="img/mobile/wok/beef-wok--mobile@1x.webp 1x,
                                img/mobile/wok/beef-wok--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/wok/beef-wok--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/wok/beef-wok--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">С говядиной</h3>

                        <div class="card-item__param">
                            <span>400 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item--wok__add">
                            <span>Добавить:</span>
                            <label>
                                <input class="card-item--wok__input" type="text" name="card-item--wok__field" value="+2">
                            </label>
                            <span class="sauce-price">140</span>
                            <sup class="sup">руб.</sup>
                            <button class="btn card-item--wok__btn"></button>
                        </div>

                        <div class="sauce-select">
                            <select class="sauce-list">
                                <option class="sauce__item" value="140">Китайский соус</option>
                                <option class="sauce__item" value="120">Острый соус</option>
                                <option class="sauce__item" value="100">Пикантный соус</option>
                                <option class="sauce__item" value="90">Домашний соус</option>
                                <option class="sauce__item" value="130">Чили соус</option>
                            </select>
                        </div>

                        <div class="card-item__info">
                            <p class="price">430<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--wok">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap picture-wrap--image-center picture-wrap--padding-0">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/wok/chicken-wok--desktop@1x.webp 1x,
                                img/desktop/wok/chicken-wok--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/wok/chicken-wok--desktop@1x.jpg 1x,
                                img/desktop/wok/chicken-wok--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                               <!--  <source srcset="img/tablet/wok/chicken-wok--tablet@1x.webp 1x,
                                img/tablet/wok/chicken-wok--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/wok/chicken-wok--tablet@1x.jpg 1x,
                                img/tablet/wok/chicken-wok--tablet@2x.jpg 2x"
                                media="(min-width: 321px)"> -->

                                <source srcset="img/mobile/wok/chicken-wok--mobile@1x.webp 1x,
                                img/mobile/wok/chicken-wok--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/wok/chicken-wok--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/wok/chicken-wok--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">С курицей</h3>

                        <div class="card-item__param">
                            <span>400 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item--wok__add">
                            <span>Добавить:</span>
                            <label>
                                <input class="card-item--wok__input" type="text" name="card-item--wok__field" value="+0">
                            </label>
                            <span class="sauce-price">0</span>
                            <sup class="sup">руб.</sup>
                            <button class="btn card-item--wok__btn"></button>
                        </div>

                        <div class="sauce-select">
                            <select class="sauce-list">
                                <option class="sauce__item" value="140">Китайский соус</option>
                                <option class="sauce__item" value="120">Острый соус</option>
                                <option class="sauce__item" value="100">Пикантный соус</option>
                                <option class="sauce__item" value="90">Домашний соус</option>
                                <option class="sauce__item" value="130">Чили соус</option>
                            </select>
                        </div>

                        <div class="card-item__info">
                            <p class="price">290<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--wok">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap picture-wrap--image-center picture-wrap--padding-0">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/wok/vegetable-wok--desktop@1x.webp 1x,
                                img/desktop/wok/vegetable-wok--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/wok/vegetable-wok--desktop@1x.jpg 1x,
                                img/desktop/wok/vegetable-wok--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <!-- <source srcset="img/tablet/wok/vegetable-wok--tablet@1x.webp 1x,
                                img/tablet/wok/vegetable-wok--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/wok/vegetable-wok--tablet@1x.jpg 1x,
                                img/tablet/wok/vegetable-wok--tablet@2x.jpg 2x"
                                media="(min-width: 321px)"> -->

                                <source srcset="img/mobile/wok/vegetable-wok--mobile@1x.webp 1x,
                                img/mobile/wok/vegetable-wok--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/wok/vegetable-wok--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/wok/vegetable-wok--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">С овощами</h3>

                        <div class="card-item__param">
                            <span>400 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item--wok__add">
                            <span>Добавить:</span>
                            <label>
                                <input class="card-item--wok__input" type="text" name="card-item--wok__field" value="+2">
                            </label>
                            <span class="sauce-price">140</span>
                            <sup class="sup">руб.</sup>
                            <button class="btn card-item--wok__btn"></button>
                        </div>

                        <div class="sauce-select">
                            <select class="sauce-list">
                                <option class="sauce__item" value="140">Китайский соус</option>
                                <option class="sauce__item" value="120">Острый соус</option>
                                <option class="sauce__item" value="100">Пикантный соус</option>
                                <option class="sauce__item" value="90">Домашний соус</option>
                                <option class="sauce__item" value="130">Чили соус</option>
                            </select>
                        </div>
                
                        <div class="card-item__info">
                            <p class="price">430<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->

                    <!-- card-item -->
                    <li class="card-item card-item--wok">
                
                        <!-- picture-wrap -->
                        <div class="picture-wrap picture-wrap--image-center picture-wrap--padding-0">
                
                            <!-- picture -->
                            <picture>

                                <source srcset="img/desktop/wok/seafood-wok--desktop@1x.webp 1x,
                                img/desktop/wok/seafood-wok--desktop@2x.webp 2x"
                                media="(min-width: 766px)"
                                type="image/webp">

                                <source srcset="img/desktop/wok/seafood-wok--desktop@2x.jpg 1x,
                                img/desktop/wok/seafood-wok--desktop@2x.jpg 2x"
                                media="(min-width: 766px)">

                                <!-- <source srcset="img/tablet/wok/seafood-wok--tablet@1x.webp 1x,
                                img/tablet/wok/seafood-wok--tablet@2x.webp 2x"
                                media="(min-width: 321px)"
                                type="image/webp">

                                <source srcset="img/tablet/wok/seafood-wok--tablet@1x.jpg 1x,
                                img/tablet/wok/seafood-wok--tablet@2x.jpg 2x"
                                media="(min-width: 321px)"> -->

                                <source srcset="img/mobile/wok/seafood-wok--mobile@1x.webp 1x,
                                img/mobile/wok/seafood-wok--mobile@2x.webp 2x"
                                type="image/webp">

                                <img src="img/mobile/wok/seafood-wok--mobile@1x.jpg" alt="Суши"
                                srcset="img/mobile/wok/seafood-wok--mobile@2x.jpg 2x">

                            </picture>
                            <!-- /picture -->

                        </div>
                        <!-- /picture-wrap -->

                        <h3 class="card-item__title">С морепродуктами</h3>

                        <div class="card-item__param">
                            <span>400 г. |</span>
                            <span>1350 Kkal</span>
                        </div>

                        <div class="card-item--wok__add">
                            <span>Добавить:</span>
                            <label>
                                <input class="card-item--wok__input" type="text" name="card-item--wok__field" value="+2">
                            </label>
                            <span class="sauce-price">140</span>
                            <sup class="sup">руб.</sup>
                            <button class="btn card-item--wok__btn"></button>
                        </div>

                        <div class="sauce-select">
                            <select class="sauce-list">
                                <option class="sauce__item" value="140">Китайский соус</option>
                                <option class="sauce__item" value="120">Острый соус</option>
                                <option class="sauce__item" value="100">Пикантный соус</option>
                                <option class="sauce__item" value="90">Домашний соус</option>
                                <option class="sauce__item" value="130">Чили соус</option>
                            </select>
                        </div>

                        <div class="card-item__info">
                            <p class="price">430<sup class="sup">руб.</sup></p>
                            <div class="number">
                                <p class="minus"></p>1
                                <p class="plus"></p>
                            </div>
                        </div>

                        <button class="btn card-item__btn">в корзину</button>

                    </li>
                    <!-- /card-item -->
                	
                </ul>
                <!-- /card-list -->

                <!-- card-item__pagination -->
                <div class="card-item__pagination card-item__pagination--relative">

                	<div id="prev" class="prev"></div>

                    <!-- dots-list -->
                    <ul class="dots-list dots-list--wok">
            
                        <li class="dots__item dots__item--wok dots__item--active"></li>
                        <li class="dots__item dots__item--wok"></li>
                        <li class="dots__item dots__item--wok"></li>
                        <li class="dots__item dots__item--wok"></li>
                        <li class="dots__item dots__item--wok"></li>

                    </ul>
                    <!-- /dots-list -->

                    <div id="next" class="next"></div>

                </div>
                <!-- /card-item__pagination -->
            	
            </div>
            <!-- /product-cards -->

        </div>
        <!-- /carousel -->

	</section>
	<!-- /wok -->

</div>
<!-- container container--cards -->